<!-- header start -->
<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../static/images/logo.png" class="logo-black" alt="logo" />
      <img
        src="../static/images/logo-white.png"
        class="logo-white"
        alt="logo" />
    </div>
    <ul class="nav" id="nav" onclick="closeNav()">
      <li><a href="{{ url_for('home') }}" class="anchor-1">Home</a></li>
      <li><a href="{{ url_for('support') }}" class="anchor-3">Support</a></li>
      <div class="light-dark big-screen" onclick="darkLight()">
        <i class="ri-sun-fill one"></i>
        <i class="ri-moon-fill two"></i>
      </div>
      <li>
        <a href="{{ url_for('login') }}" class="log_small anchor-4">Login</a>
      </li>
    </ul>
    <div class="small-screen">
      <div class="light-dark" onclick="darkLight()">
        <i class="ri-sun-fill one"></i>
        <i class="ri-moon-fill two"></i>
      </div>

      <div class="toggle" id="toggle" onclick="openNav()">
        <div class="tog"></div>
        <div class="tog"></div>
        <div class="tog"></div>
      </div>
    </div>
    <a href="{{ url_for('login') }}" class="btn login-big">Login</a>
  </div>
</header>
<!-- heeader end -->
