{% extends "base.html" %}

{% block title %} 
    Doit || Create New Password
{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log_reg.css') }}">
{% endblock %}
    
{% block body %}

    <style>
        .reset-log{
            margin-top: 20px;
        }
        .reset-log form{
            max-width: 600px;
            border: 1px solid #ccc;            
            margin: auto;
            margin-top: 50px;
        }
    </style>
    
    <div class="reset-log"> 
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="../static/images/logo.png" height="30px" alt="logo">
                </a> 
            </div>
            {% include "flash.html" %}
            <form action="{{ url_for('new_password', token=token) }}" method="post" novalidate>
                <h2>New Password</h2>
                {{ form.csrf_token }}
                {{ form.password.label }}
                <div class="input" id="inputField">
                    <i class="ri-lock-fill"></i>
                    {{ form.password }}
                </div>  
                <div class="show" onclick="showPassword()">
                    <span id="eye">👁️</span>
                    <span id="close_eye">🙈</span>
                </div>  
                {% for error in form.password.errors %} 
                    <p class="error">{{error}}</p>
                {% endfor %}  
                
                {{ form.confirm_password.label }}
                <div class="input" id="inputField">
                    <i class="ri-lock-fill"></i>
                    {{ form.confirm_password }}
                </div>  
                <div class="show" onclick="showPassword1()">
                    <span id="eye1">👁️</span>
                    <span id="close_eye1">🙈</span>
                </div>  
                {% for error in form.confirm_password.errors %} 
                    <p class="error">{{error}}</p>
                {% endfor %}  
                    
                {{ form.submit(class='btn') }} 
            </form>
        </div>
    </div>

    <script>
        // !show Confirm Password
        const passwordInput1 = document.getElementById("confirm_password");
        const eye1 = document.getElementById("eye1");
        const close_eye1 = document.getElementById("close_eye1");

        // !Hide both icons initially
        eye1.style.display = "none";
        close_eye1.style.display = "none";

        // !Toggle password visibility
        function showPassword1() {
        if (passwordInput1.type === "password") {
            passwordInput1.type = "text";
            close_eye1.style.display = "block";
            eye1.style.display = "none";
        } else {
            passwordInput1.type = "password";
            close_eye1.style.display = "none";
            eye1.style.display = "block";
        }
        }
        // !Show eye1 icon when user starts typing
        passwordInput1.addEventListener("input", () => {
        if (passwordInput1.value.length > 0) {
            if (passwordInput1.type === "password") {
            eye1.style.display = "block";
            } else {
            close_eye1.style.display = "block";
            }
        } else {
            eye1.style.display = "none";
            close_eye1.style.display = "none";
        }
        });

    </script>

    <script src="{{ url_for('static', filename='js/log-reg.js') }}"></script>
{% endblock %}