{% extends "base.html" %}

{% block title %} 
    Doit || Reset Password 
{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log_reg.css') }}">
{% endblock %}
    
{% block body %}

    <style>
        .reset-log{
            margin-top: 20px;
        }
        .reset-log form{
            max-width: 600px;
            border: 1px solid #ccc;            
            margin: auto;
            margin-top: 50px;
        }
    </style>
    
    <div class="reset-log"> 
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="../static/images/logo.png" height="30px" alt="logo">
                </a> 
            </div>
            {% include "flash.html" %} 
            <form action="{{ url_for('reset_password') }}" method="post" novalidate>
                <h2>Reset Password</h2>
                {{ form.csrf_token }}
                {{ form.email.label }}
                <div class="input" id="inputField">
                    <i class="ri-mail-line"></i>
                    {{ form.email }}
                </div>      
                    
                {{ form.submit(class='btn') }} 
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/log-reg.js') }}"></script>
{% endblock %}