{% extends "base.html" %}

{% block title %} 
  Doit || Support Me 
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %} 

{% block body%} 

{% include "landing_header.html" %}

<div class="support-container">
  <div class="container">
    <h1>Support My Work</h1>
    <p>
      Hey! 👋 I created this app as my first full-stack project after years of front-end development.
      It’s been a big leap — and if this tool helped you stay organized, focused, or inspired, I’d be grateful for your support.
    </p>
    <p>
      Every bit of encouragement helps me keep learning, building, and creating even better things.
    </p>
    <p>
      Thanks for being part of the journey ❤️
    </p>

    <div class="support-links">
      <a href="https://buymeacoffee.com/odafe" target="_blank">
        <i class="ri-cup-fill"></i> Buy Me a Coffee
      </a>
      <a href="https://github.com/odafeumunu/todo-app" target="_blank">
        <i class="ri-github-fill"></i> Star on GitHub
      </a>
      <a href="mailto:odafeumunu@gmail.com">
        <i class="ri-mail-line"></i> Send Feedback
      </a>
      <a href="https://x.com/umunu_odafe" target="_blank">
        <i class="ri-twitter-x-fill"></i> Follow on X
      </a>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
